# exclude heavy/irrelevant
node_modules
.git
playwright-report
test-results
.env
.env.local
Dockerfile
.dockerignore

# do NOT exclude source
#!src/**
#!tests/**
#!utils/**
#!scripts/**
#!extensions/**
