
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.env.local

playwright-report/
test-results/
.DS_Store

extensions/phantom/
extensions/metamask/

user-data/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfplan
*.tfplan.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
